@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
*{
    box-sizing: border-box !important; 
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'PT Sans', sans-serif;
}
a:hover{
    color: white;
    text-decoration: none; 
}
.padding{
    padding: 0px !important;
}
.slajder{
    height: 100vh !important;
}
.position{
    top: 50% !important;
}
#pozslika{
    height: 450px;
    background-image: url(../images/pozslika.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
}
.modali{
    width: 40%;
    height: auto;
}
#tekst p:first-child{
    font-size: 22px;
    line-height: 1.7;
}
.noUi-connect{
    background-color: #0d47a1;
}
.modali a:hover, .dmeni a:hover{
    color: #0d47a1;
}
.forma input:focus, .forma textarea:focus{
    border-bottom-color:#0d47a1 !important;
    box-shadow: 0 1px 0 0 #0d47a1 !important;
}
.forma label{
    color: #0d47a1 !important;
}
.checkbox span::before, span::after{
    border: 2px solid #0d47a1 !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever)::after, [type="radio"].with-gap:checked+span:not(.lever)::after{
    border: 2px solid #0d47a1 !important;
    background-color: #0d47a1 !important;
}
.fa-star{
    color: #e9d700;
}
.fa-star:hover{
    color: #f8ed62;
}
.proizvod ul{
    line-height: 1.8;
}
.proizvod h3{
    font-size: 20px;
}
.korpa{
    float:right;
    width: 30%;
    padding: 8px;
    border-radius: 20px;
    color: #fff; 
}
.footer{
    margin-bottom: 0px;
}
@media screen and (max-width: 740px){
    .modali{
        width: 90%;
        height: auto;
    }
    .slajder{
        height: 650px !important;
    }
}
@media screen and (max-width: 500px){
    .position{
        top: 25% !important;
    }  
    .slajder{
        height: 450px !important;
    }
}